#ms-iframe.pos-top-center.anim,#ms-iframe.pos-top-left.anim,#ms-iframe.pos-top-right.anim{animation-name:MS_slideInDown}@-webkit-keyframes MS_slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-moz-keyframes MS_slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes MS_slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes MS_slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-moz-keyframes MS_slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes MS_slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}#ms-iframe{position:fixed;left:0;top:auto;right:auto;bottom:0;border:none;z-index:9000000;overflow:hidden;box-shadow:0 10px 20px -4px rgba(0,0,0,.4);border:1px solid rgba(0,0,0,.1);animation-duration:1s;animation-fill-mode:both;width:0;height:0}#ms-iframe.no-visible{visibility:hidden;border:none;box-shadow:none}#ms-iframe.pos-top-left{left:10px;top:10px;right:auto;bottom:auto}#ms-iframe.pos-top-center{left:50%;top:10px;right:auto;bottom:auto}#ms-iframe.pos-top-right{left:auto;top:10px;right:10px;bottom:auto}#ms-iframe.pos-bottom-center.anim,#ms-iframe.pos-bottom-left.anim,#ms-iframe.pos-bottom-right.anim{animation-name:MS_slideInUp}#ms-iframe.pos-bottom-left{left:10px;top:auto;right:auto;bottom:10px}#ms-iframe.pos-bottom-center{left:50%;top:auto;right:auto;bottom:10px}#ms-iframe.pos-bottom-right{left:auto;top:auto;right:10px;bottom:10px}
.PsKE7eqV4dIcQrrb5 {
  color: white;
}
.qV4dIc {
    padding-top: 14px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.PsKE7e {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
.Qrrb5 {
    display: inline-block;
    overflow: hidden;
    padding: 10px 12px;
    vertical-align: middle;
}
.PsKE7e, .aJHbb {
    display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.VsJjtf {
    display: inline-block;
    max-width: 300px;
    overflow: visible;
    position: relative;
    text-align: left;
    -webkit-transition: opacity 0ms 300ms;
    transition: opacity 0ms 300ms;
    vertical-align: middle;
    white-space: nowrap;
}
.TlfmSc .QTKDff {
    display: inline-block;
    line-height: 1;
    max-width: 380px;
    outline: none;
    overflow: hidden;
    padding: 16px 12px;
    text-decoration: none;
    text-overflow: ellipsis;
}
.QTKDff {
    display: inline-block;
    vertical-align: middle;
}

.GAuSPc {
    color: inherit;
}
.TlfmSc {
    font-family: Arvo;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,1);
    line-height: 1.33;
}
#a {
  color: white;
}
#d {
    font-family: Arvo;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: rgba(51,103,214,1);
    margin-top: -23%;
    margin-left: 9%;
}
.purZT-AhqUyc-II5mzb.JNdkSc .JNdkSc-SmKAyb {
    padding-left: 3.75%;
    padding-right: 3.75%;
}
.purZT-AhqUyc-II5mzb {
    width: 100%;
}
.JNdkSc, .jXK9ad, .oaCj6d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}
::-webkit-scrollbar {
    -webkit-border-radius: 100px;
    background-color: rgba(0,0,0,0);
    width: 9px;
}
.CENy8b {
    display: block;
    width: 100%;
}
.LS81yb {
  display: flex;
}
#e{
  margin-bottom: -32%;
}
#f {
  margin-top: -17%;
}
#g {
  display: flex;
}



@media only screen and (min-width: 768px)
.yaqOZd:not(.LB7kq):not(.Iju1Ze):not(.WxWicb):not(.IFuOkc) {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.yaqOZd {
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.IFuOkc {
    display: table-cell;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.yaqOZd {
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.mYVXT {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.LS81yb {
    outline: 0;
    margin-top: -28%;
}

.VICjCf {
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px)
.LS81yb {
    padding-left: 48px;
    padding-right: 48px;
}
.LS81yb {
    padding-left: 5px;
    padding-right: 5px;
}
.LS81yb, .oKdM2c {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px;
    *zoom: 1;
}
@media only screen and (min-width: 768px)
.hJDwNd-AhqUyc-OwsYgb {
    width: 58.333333%;
}
@media only screen and (min-width: 480px)
.pSzOP-AhqUyc-qWD73c {
    width: 100%;
}
.purZT-AhqUyc-II5mzb {
    width: 100%;
}
.JNdkSc, .jXK9ad, .oaCj6d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}
@media only screen and (min-width: 768px)
.hJDwNd-AhqUyc-wNfPc {
    width: 41.666667%;
}

@media only screen and (min-width: 480px)
.pSzOP-AhqUyc-wNfPc {
    width: 83.333333%;
}
.purZT-AhqUyc-II5mzb {
    width: 100%;
}
.JNdkSc, .jXK9ad, .oaCj6d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}
@media only screen and (min-width: 768px)
.hJDwNd-AhqUyc-wNfPc.JNdkSc .JNdkSc-SmKAyb {
    padding-left: 3%;
    padding-right: 3%;
}
@media only screen and (min-width: 480px)
.pSzOP-AhqUyc-wNfPc.JNdkSc .JNdkSc-SmKAyb {
    padding-left: 3%;
    padding-right: 3%;
}
.purZT-AhqUyc-II5mzb.JNdkSc .JNdkSc-SmKAyb {
    padding-left: 3.75%;
    padding-right: 3.75%;
}

.LS81yb, .oKdM2c {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px;
    *zoom: 1;
}
.JYVBee {
    font-family: Lato;
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    margin-top: 25px;
    color: rgba(33,33,33,1);
}
#h {
  font-size: 28px;
  font-weight: 700;
  margin-left: 8%;
}
#i {
  margin-top: -28%;
}
.qUO6Ue .oKdM2c:first-child {
    border: none;
    cursor: pointer;
}
